@model IEnumerable<appli_gest_assoc.Models.Recette>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des recettes</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                         <div><b>Montant total des recettes :</b> @Model.Sum(i=>i.Montant)</div><br>
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Libelle)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Montant)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Bureau)
                                        </th>
                                        <th>
                                            Type de recette
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Libelle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Montant)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Bureau.NomBureau)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TypeRecette.Libelle)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.IdRecette"><i class="fa fa-edit"></i></a> |
                                                @* <a asp-action="Details" asp-route-id="@item.IdRecette">Details</a> |*@
                                                <a asp-action="Delete" asp-route-id="@item.IdRecette"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
