@model IEnumerable<appli_gest_assoc.Models.Bureau>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb pull-right">
                <li><a asp-controller="Home" asp-action="Index">Sofa</a></li>
                <li><a asp-controller="Bureaux" asp-action="Index">Bureau</a></li>
                <li class="active">Liste des bureaux</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-heading">
                        <h3 class="panel-title">Liste des bureaux</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                Bureau
                                            </th>
                                            <th>
                                                Date de création
                                            </th>
                                            <th>
                                                Activité
                                            </th>
                                            <th>
                                                Association
                                            </th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>


                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NomBureau)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DateCreation)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Activite.Libelle)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Association.NomAssociation)
                                                </td>


                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.IdBureau"><i class="fa fa-edit"></i></a> |
                                                    <a asp-action="Delete" asp-route-id="@item.IdBureau"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- End Row -->


    </div>
</div>